<!-- Modified by Yu-Hsuan Yen -->
<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        <% if (is_home()) { %>
            background-image: url('<%= config.root + config["header-img"] %>')
            /*config*/
        <%} else if (is_post()){%>
            background-image: url('<%= page["header-img"] %>')
            /*post*/
        <%} else {%>
            background-image: url('<%= config.root + page["header-img"] %>')
            /*page*/
        <%} %>
    }
    <% if (config.signature) {%>
      #signature{
          background-image: url('<%= config.root + config["signature-img"] %>');
      }
    <%}%>
</style>

<header class="intro-header" >
    <!-- Signature -->
    <div id="signature">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% if (is_post()) { %>
                    <div class="post-heading">
                        <div class="tags">
                          <!--
                          <% if (config.top) { %>
                            <% if (page.top) { %>
                              <div class="top-tag">
                                <div class="iconfont icon-hot animated infinite heartBeat"></div>
                              </div>
                              <% } %>
                           <% } %>
                           -->
                            <% page.tags.forEach(function(tag){ %>
                              <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                            <% }) %>
                        </div>
                        <h1><%= page.title %></h1>
                        <h2 class="subheading"><%= page.subtitle || "" %></h2>
                        <span class="meta">
                            Posted by <%- page.author || config.author %> on
                            <%= page.date.format(config.date_format) %>
                        </span>

                        <% if(config.wordcount.enable) { %>
                          <div class="blank_box"></div>
                            <span class="meta">
                                Estimated Reading Time <span class="post-count"><%= min2read(page.content) %></span> Minutes
                            </span>
                            <div class="blank_box"></div>
                            <span class="meta">
                                Words <span class="post-count"><%= wordcount(page.content) %></span> In Total
                            </span>
                            <div class="blank_box"></div>
                            <!-- 不蒜子统计 start -->
                            <span class="meta">
                                Viewed <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> Times
                            </span>
                            <!-- 不蒜子统计 end -->
                        <% } %>

                    </div>
                <% } else { %>
                    <div class="site-heading">
                        <h1><%= page.title || config.title %></h1>
                        <!--<hr class="small">-->
                        <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                    </div>
                <% } %>
                </div>
            </div>
        </div>
    </div>

    <% if (config.wave) { %>
    <!-- waveWrapper -->
    <div class="waveWrapper">
        <div class="wave wave_before" style="background-image: url('<%= config.root + config["wave-img"] %>')"></div>
        <div class="wave wave_after" style="background-image: url('<%= config.root + config["wave-img"] %>')"></div>
    </div>
    <% } %>
</header>
