---
layout: layout
---
<!-- Modify by Yu-Hsuan Yen -->
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <!-- Post Container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

        <%- page.content %>

        <hr>
        <!-- Pager -->
        <ul class="pager">
          <% if (page.prev){ %>
          <li class="previous">
            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; Previous Post</a>
          </li>
          <% } %>
          <% if (page.next){ %>
          <li class="next">
            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>">Next Post &rarr;</a>
          </li>
          <% } %>
        </ul>

        <hr>
        <!-- disqus comment start -->
        <% if(config['disqus_username']) { %>
        <div class="comment">
          <div id="disqus_thread" class="disqus-thread"></div>
        </div>
        <% } %>
        <!-- disqus comment end -->

        <!-- valine 评论框 start -->
        <% if(config.valine.enable) { %>

        <!--   <script src="<%- config.root %>js/valine.min.js"></script>-->
        <!-- <div id="vcomments" style="margin-top: 25px;"></div> -->
        <script>
          // var appId = '<%= config.valine.API_ID %>';
          // var appKey = '<%= config.valine.API_Key %>';
          // var GUEST = ['nick', 'mail', 'link'];
          // var guest = '<%= config.valine.guest_info %>';
          // guest = guest.split(',').filter(function(item) {
          //   return GUEST.indexOf(item) > -1;
          // });
          // var visitor = <%= config.valine.visitor %> == true ? true : false;
          // new Valine({
          //   el: '#vcomments',
          //   appId: appId,
          //   appKey: appKey,
          //   // notify: notify,
          //   avatar: '<%= config.valine.avatar %>',
          //   meta: guest,
          //   placeholder: '<%= config.valine.placeholder %>',
          //   pageSize: <%= config.valine.pageSize %> || 10,
          //   lang: '<%= config.valine.language %>' || 'zh-cn',
          //   visitor: <%= config.valine.visitor %>
          // });
        </script>


        <script src="<%- config.root %>js/av-min.js"></script>
        <script src="<%- config.root %>js/Valine-en.min.js"></script>

        <div id="disqus_thread" class="valine"></div>
        <script type="text/javascript" src="//cdnjs.loli.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
          var appId = '<%= config.valine.API_ID %>';
          var appKey = '<%= config.valine.API_Key %>';

          comment_el = '#disqus_thread';
          if ( $(comment_el).length > 0 ) {
            new Valine({
              av: AV,
              el: comment_el,
              lang: 'en',
              admin_email: 'i@panjunwen.com',
              emoticon_url: 'https://cloud.panjunwen.com/alu',
              emoticon_list: ["吐.png", "喷血.png", "狂汗.png", "不说话.png", "汗.png", "坐等.png", "献花.png", "不高兴.png", "中刀.png", "害羞.png", "皱眉.png", "小眼睛.png", "中指.png", "尴尬.png", "瞅你.png", "想一想.png", "中枪.png", "得意.png", "肿包.png", "扇耳光.png", "亲亲.png",
                "惊喜.png", "脸红.png", "无所谓.png", "便便.png", "愤怒.png", "蜡烛.png", "献黄瓜.png", "内伤.png", "投降.png", "观察.png", "看不见.png", "击掌.png", "抠鼻.png", "邪恶.png", "看热闹.png", "口水.png", "抽烟.png", "锁眉.png", "装大款.png", "吐舌.png", "无奈.png", "长草.png",
                "赞一个.png", "呲牙.png", "无语.png", "阴暗.png", "不出所料.png", "咽气.png", "期待.png", "高兴.png", "吐血倒地.png", "哭泣.png", "欢呼.png", "黑线.png", "喜极而泣.png", "喷水.png", "深思.png", "鼓掌.png", "暗地观察.png"
              ],
              app_id: appId,
              app_key: appKey,
              placeholder: 'Write a Comment'
            });
          }
        </script>
        <hr>
        <% } %>
        <!-- valine 评论框 end -->

      </div>

      <!-- Tabe of Content -->
      <%- partial('_partial/toc') %>

      <!-- Sidebar Container -->
      <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

        <!-- Featured Tags -->
        <% if(config['featured-tags']) { %>
        <section>
          <!-- no hr -->
          <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
          <div class="tags">
            <% page.tags.forEach(function(tag){ %>
            <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
          </div>
        </section>
        <% }%>

        <!-- Friends Blog -->
        <% if(config.friends) { %>
        <hr>
        <h5>FRIENDS</h5>
        <ul class="list-inline">

          <% config.friends.forEach(function(friend){ %>
          <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
          <% }); %>
        </ul>
        <% }%>
      </div>
    </div>
  </div>
</article>

<% if(config['disqus_username']) { %>
<!-- disqus embedded js code start (one page only need to embed once) -->
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = "<%= config['disqus_username'] %>";
  var disqus_identifier = "<%= page.permalink %>";
  var disqus_url = "<%= page.permalink %>";

  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<!-- disqus embedded js code start end -->
<% } %>


<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
  function async (u, c) {
    var d = document,
      t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) {
      o.addEventListener('load', function(e) {
        c(null, e);
      }, false);
    }
    s.parentNode.insertBefore(o, s);
  }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
  async ("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js", function() {
    anchors.options = {
      visible: 'hover',
      placement: 'left',
      icon: 'ℬ'
    };
    anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
  })
</script>
<style>
  /* place left on bigger screen */
  @media all and (min-width: 800px) {
    .anchorjs-link {
      position: absolute;
      left: -0.75em;
      font-size: 1.1em;
      margin-top: -0.1em;
    }
  }
</style>
<% } %>
